body {
    background-color: black;
    text-align: center;
    font-family: 'Geo', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    margin-top: 70px;
    color: beige;
    font-size: 40px;
    font-style: 'Geo';
}

h3 {
    color: beige;
}

div {
    border: 1px solid beige;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 600px;
    height: 200px;
    margin: 50px auto 50px auto;
}

#fight-el {
    margin: 50px auto 0px auto;
    align-items: center;
    justify-content: center;
}

p {
    color: beige;
    margin: 30px;
    /* display: none; */
    font-size: 18px;
}

#computer-choice {
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);

}

pre {
    color: beige;
}


button {
    background-color: black;
    color: beige;
    border: 2px solid beige;
    margin: 10px;
    width: 150px;
    height: 70px;
    font-size: 18px;
    font-family: 'Geo', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
    color: black;
    background-color: beige;
}

#modal-el {
    position: absolute;
    z-index: 1;
    top: 35%;
    left: 27.5%;
    background-color: black;
    width: 700px;
    height: auto;
    flex-direction: column;
    padding-bottom: 40px;
    display: none;
}

#play-again-el {
    margin: 10px;
    width: 200px;
}

